Repository altugcagri/boun-swe-574, pull requests merged in 2019-12, with the labels that each got.

#73 unit tests added for annotations
  backend/src/main/java/com/fellas/bespoke/client/request/AnnotationServerRequest.java
  backend/src/main/java/com/fellas/bespoke/converter/AnnotationCreateRequestToASRequest.java
  backend/src/test/java/com/fellas/bespoke/TestUtils.java
  backend/src/test/java/com/fellas/bespoke/client/AnnotationServerClientTest.java
  backend/src/test/java/com/fellas/bespoke/controller/AnnotationControllerTest.java
  backend/src/test/java/com/fellas/bespoke/converter/ASSearchResponseToAnnotationResponseTest.java
  backend/src/test/java/com/fellas/bespoke/converter/AnnotationCreateRequestToASRequestTest.java
  backend/src/test/java/com/fellas/bespoke/service/AnnotationServiceTest.java
Labels: backend

#72 Activity stream v2
  backend/src/main/java/com/fellas/bespoke/controller/ActivityController.java
  backend/src/main/java/com/fellas/bespoke/controller/UserController.java
  backend/src/main/java/com/fellas/bespoke/controller/dto/response/TopicResponse.java
  backend/src/main/java/com/fellas/bespoke/controller/dto/response/UserProfile.java
  backend/src/main/java/com/fellas/bespoke/converter/ActivityObjectConverter.java
  backend/src/main/java/com/fellas/bespoke/persistence/ActivityRepository.java
  backend/src/main/java/com/fellas/bespoke/persistence/model/Activity.java
  backend/src/main/java/com/fellas/bespoke/persistence/model/ActivityStream.java
  backend/src/main/java/com/fellas/bespoke/persistence/model/ActivityWrapper.java
  backend/src/main/java/com/fellas/bespoke/service/ActivityService.java
  backend/src/main/java/com/fellas/bespoke/service/UserService.java
  backend/src/main/java/com/fellas/bespoke/service/implementation/ActivityServiceImpl.java
  backend/src/main/java/com/fellas/bespoke/service/implementation/ContentServiceImpl.java
  backend/src/main/java/com/fellas/bespoke/service/implementation/ProfileServiceImpl.java
  backend/src/main/java/com/fellas/bespoke/service/implementation/TopicServiceImpl.java
  backend/src/main/java/com/fellas/bespoke/service/implementation/UserServiceImpl.java
  backend/src/test/java/com/fellas/bespoke/TestUtils.java
  backend/src/test/java/com/fellas/bespoke/controller/UserControllerTest.java
  backend/src/test/java/com/fellas/bespoke/service/ProfileServiceTest.java
  backend/src/test/java/com/fellas/bespoke/service/TopicServiceTest.java
  backend/src/test/java/com/fellas/bespoke/service/UserServiceTest.java
Labels: backend

#80 Master.frontend
  frontend/public/dummy/homepage.json
  frontend/src/assets/scss/_sections.header.scss
  frontend/src/components/partials/form-login.js
  frontend/src/controllers/navigator.js
  frontend/src/functions/endpoints.json
  frontend/src/pages/faq.js
  frontend/src/pages/glossary.js
  frontend/src/pages/home.js
  frontend/src/pages/learningpath/add-content.js
  frontend/src/pages/learningpath/content-quiz.js
  frontend/src/pages/learningpath/edit-content.js
  frontend/src/pages/learningpath/view-content.js
  frontend/src/pages/profile.js
  frontend/src/pages/topic/create-topic.js
  frontend/src/pages/topic/edit-topic.js
  frontend/src/pages/topic/topic-preview.js
  frontend/src/pages/topic/topic.js
  frontend/src/pages/topic/user-enrollment-list.js
  frontend/src/pages/topic/user-topic-list.js
  frontend/src/util/APIUtils.js
  frontend/src/util/endpoints.json
Labels: frontend, high

#81 new annotation container created
  backend/src/main/resources/application.properties
Labels: backend

#82 Master.frontend
  frontend/src/assets/scss/_components.annotation.scss
  frontend/src/controllers/navigator.js
  frontend/src/pages/learningpath/view-content.js
Labels: frontend

#83 UserHomePageSummary is added.
  backend/src/main/java/com/fellas/bespoke/controller/UserHomePageController.java
  backend/src/main/java/com/fellas/bespoke/persistence/model/UserHomePageSummary.java
  backend/src/main/java/com/fellas/bespoke/service/UserHomePageSummaryService.java
  backend/src/main/java/com/fellas/bespoke/service/implementation/UserHomePageSummaryServiceImpl.java
Labels: backend
