Repository altugcagri/boun-swe-574, pull requests merged in 2019-11, with the labels that each got.

#54 Master.frontend
  frontend/public/dummy/homepage.json
  frontend/src/components/partials/form-register.js
  frontend/src/controllers/navigator.js
  frontend/src/data/routes.js
  frontend/src/data/store.user.js
  frontend/src/pages/glossary.js
  frontend/src/pages/home.js
  frontend/src/pages/learningpath/add-content.js
  frontend/src/pages/learningpath/content-quiz.js
  frontend/src/pages/learningpath/edit-content.js
  frontend/src/pages/learningpath/view-content.js
  frontend/src/pages/topic/edit-topic.js
  frontend/src/pages/topic/topic-preview.js
  frontend/src/pages/topic/topic.js
  frontend/src/pages/topic/user-enrollment-list.js
  frontend/src/util/endpoints.json
Labels: frontend, high

#61 Activity streamv2
  backend/src/main/java/com/fellas/bespoke/controller/dto/request/TopicRequest.java
  backend/src/main/java/com/fellas/bespoke/persistence/ActivityRepository.java
  backend/src/main/java/com/fellas/bespoke/persistence/model/Activity.java
  backend/src/main/java/com/fellas/bespoke/persistence/model/ActivityContentType.java
  backend/src/main/java/com/fellas/bespoke/persistence/model/ActivityStream.java
  backend/src/main/java/com/fellas/bespoke/persistence/model/ActivityStreamType.java
  backend/src/main/java/com/fellas/bespoke/persistence/model/DataBaseEntity.java
  backend/src/main/java/com/fellas/bespoke/service/ActivityService.java
  backend/src/main/java/com/fellas/bespoke/service/implementation/ActivityServiceImpl.java
  backend/src/main/java/com/fellas/bespoke/service/implementation/AuthServiceImpl.java
  backend/src/main/java/com/fellas/bespoke/service/implementation/ContentServiceImpl.java
  backend/src/main/java/com/fellas/bespoke/service/implementation/QuestionServiceImpl.java
  backend/src/main/java/com/fellas/bespoke/service/implementation/TopicServiceImpl.java
  backend/src/test/java/com/fellas/bespoke/TestUtils.java
  backend/src/test/java/com/fellas/bespoke/service/AuthServiceTest.java
  backend/src/test/java/com/fellas/bespoke/service/ContentServiceTest.java
  backend/src/test/java/com/fellas/bespoke/service/QuestionServiceTest.java
  backend/src/test/java/com/fellas/bespoke/service/TopicServiceTest.java
Labels: backend

#64 get annotation null check and sonar fixes added
  backend/src/main/java/com/fellas/bespoke/client/request/AnnotationBody.java
  backend/src/main/java/com/fellas/bespoke/client/request/AnnotationSelector.java
  backend/src/main/java/com/fellas/bespoke/client/request/AnnotationSelectorRefinedBy.java
  backend/src/main/java/com/fellas/bespoke/client/request/AnnotationTarget.java
  backend/src/main/java/com/fellas/bespoke/converter/ASSearchResponseToAnnotationResponse.java
  backend/src/main/java/com/fellas/bespoke/converter/AnnotationCreateRequestToASRequest.java
Labels: backend, bug

#69 motivation added to annotation
  backend/src/main/java/com/fellas/bespoke/client/request/AnnotationServerRequest.java
  backend/src/main/java/com/fellas/bespoke/client/response/AnnotationServerCreateResponse.java
  backend/src/main/java/com/fellas/bespoke/controller/dto/request/Annotation.java
  backend/src/main/java/com/fellas/bespoke/converter/ASSearchResponseToAnnotationResponse.java
  backend/src/main/java/com/fellas/bespoke/converter/AnnotationCreateRequestToASRequest.java
Labels: backend
